@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: Roboto;
  text-align: center;
  background-color: #FFFDD0;
}

form {
  background: rgb{22, 44, 66, 0.5};
}